@import '../vars.scss';

.personal-info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 11vh 0 0 9%;
  width: 25%;
  min-width: 292px;
  pointer-events: none;

  & a {
    pointer-events: all;
  }

  .toggle-overlay-button {
    display: none;
  }

  .profile-photo {
    border-radius: 50%;
    opacity: 0.95;
    max-width: 130px;
    max-height: 130px;
    height: calc(90px + 40 * ((100vw - 300px) / 700));
    width: calc(90px + 40 * ((100vw - 300px) / 700));
    border: 3px solid #2d2c3a;
  }

  .separator {
      background-color: $color-primary;
      height: 7px;
      border-radius: 5px;
      width: 50%;
      margin-bottom: 30px;
  }
}

.menu-icon {
  display: none;
}

@media (max-width: 40rem) {
  .personal-info {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    bottom: 0;
    background-color: rgba(11, 8, 24, 0.8);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: top 0.5s, left 0.5s, opacity 0.5s;
    pointer-events: auto;

    & > * {
      width: 90%;
      color: $color-mobile;
    }

    h1, h3 {
      text-align: center;
    }

    .profile-photo {
      border: none;
      margin-top: 50px;
    }

    .toggle-overlay-button {
      display: inline-block;
      margin: auto 0 auto 0;
      background: $color-primary;
      color: $color-mobile;
      border-radius: 20px;
      border: none;
      font-size: 1.1rem;
      font-family: 'Noto Sans', sans-serif;
      font-weight: 500;
      width: 35%;
      min-width: 145px;
      max-width: 160px;
      height: 50px;
      transition: 0.2s;
      outline: none;

      &:active {
        color: $color-primary;
        background: $color-mobile;
        font-size: 1.3rem;
        height: 65px;
        width: 42%;
      }
    }
  }

  .personal-info-hidden {
    top: -100%;
    left: -100%;
    opacity: 0;
  }

  .menu-icon {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    z-index: 5;
    background-image: url(../../assets/close.svg);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s;
  }

  .menu-icon-collapsed {
    background-color: rgba(11, 8, 24, 0.8);
    border-radius: 0 0 50% 0;
    background-image: url(../../assets/menu-icon.svg);
  }
}
