@import url('../vars.css');

.personal-info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 80px 0 0 10%;
    width: 25%;
    /* background-color: rgba(0, 0, 0, 0.2); */
}

.profile-photo {
    border-radius: 50%;
    opacity: 0.95;
    width: 130px;
    height: 130px;
    border: 3px solid #2d2c3a;
    /* -moz-box-shadow:    0 0 10px 2px var(--color-title);
    -webkit-box-shadow: 0 0 10px 2px var(--color-title);
    box-shadow:         0 0 10px 2px var(--color-title); */
}

.separator {
    background-color: var(--color-primary);
    height: 7px;
    border-radius: 5px;
    width: 50%;
    margin-bottom: 30px;
}
