@import '../vars.scss';

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #___gatsby, #gatsby-focus-wrapper {
  overflow: hidden;
  width   : 100%;
  height  : 100%;
  margin  : 0;
  padding : 0;
}

h1 {
  font-family: 'Rubik', sans-serif;
  color: $color-title;
  font-size: calc(2.5rem + 0.7 * ((100vw - 30rem) / 60));
  line-height: calc(2.5rem + 0.7 * ((100vw - 30rem) / 45));
  margin: 20px 0;
}

h3 {
  font-family: 'Rubik', sans-serif;
  color: $color-title;
  font-weight: 500;
  font-size: calc(1.1rem + 0.2 * ((100vw - 30rem) / 60));
  margin-bottom: 20px;
}

p {
  font-family: 'Noto Sans', sans-serif;
  color: $color-title;
  font-size: calc(0.95rem + 0.05 * ((100vw - 30rem) / 60));
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $color-primary;
}

a:hover {
  font-weight: 700;
  color: $color-primary;
}

a:active {
  color: $color-mobile;
}

.hidden {
  display: none;
}
